p #{ownerUserName}: 
p 
p 您好！这是用户 #{userName}（#{userEmail}）的DISC性格测试结果
p #{testResult}

ul
    li 如需查看所有测试结果，请点击链接: 
        a(href=testLink) 嘉驰测试结果
    li 需管理员权限, 您的用户名： #{userEmail}
    li 初始密码：123xyz

p 谢谢！
p 嘉驰国际